<a href="https://colab.research.google.com/github/GabrielCogoRangel/ENG_20242/blob/main/Atividade-01/Exerc%C3%ADcios_3_Listas%2C_Tuplas%2C_Sets_e_Dicion%C3%A1rios.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **2º Bimestre**

# **Exercícios (Aula 03) Listas, Tuplas, Sets e Dicionários**

In [ ]:
# 1. Crie uma lista contendo cinco números inteiros de sua escolha. Em seguida, percorra essa lista e imprima o valor de cada elemento multiplicado por 2. O resultado deve mostrar o novo valor de cada elemento, um por vez.

lista = [1, 2, 3, 4, 5]
for i in lista:
    print(i * 2, end=" ")

2 4 6 8 10

In [ ]:
# 2. Dada a lista ["maçã", "banana", "laranja", "uva"], remova o item "banana" da lista e adicione a fruta "melancia" no lugar. Depois, mostre a nova lista atualizada com as alterações feitas.

lista = ["maçã", "banana", "laranja", "uva"]
lista.remove("banana")
lista.append("melancia")
print(lista)

['maçã', 'laranja', 'uva', 'melancia']

In [ ]:
# 3. Escreva um programa que receba uma lista de números inteiros e exiba qual é o maior número e qual é o menor número presente na lista. Certifique-se de mostrar ambos os valores ao final.

lista = [1, 2, 3, 4, 5]
print(max(lista))
print(min(lista))

5
1

In [ ]:
# 4. Crie uma função que receba uma lista contendo várias palavras (strings). A função deve devolver uma nova lista que contenha a quantidade de letras de cada palavra da lista original. Exiba essa nova lista com o número de letras correspondente a cada palavra.

palavras = ["cachorro", "gato", "elefante", "tigre"]
quantidade_letras = [len(palavra) for palavra in palavras]
print(quantidade_letras)

[8, 4, 8, 5]

In [ ]:
# 5. Dada uma lista de números inteiros que você vai definir, ordene essa lista em ordem crescente e depois exiba o resultado da lista ordenada.

lista = [1, 2, 3, 4, 5]
lista.sort()
print(lista)

[1, 2, 3, 4, 5]

In [ ]:
# 6. Crie uma tupla que contenha os números de 1 a 5. Tente alterar o valor do segundo elemento dessa tupla e observe o que acontece. No final, explique por que você conseguiu ou não modificar o valor.

tupla = (1, 2, 3, 4, 5)
nova_tupla = tupla[:1] + (10,) + tupla[2:]
print(nova_tupla)

(1, 10, 3, 4, 5)

In [ ]:
# 7. Escreva um programa que receba uma tupla contendo diversos números inteiros. O programa deve calcular e exibir a soma de todos os números presentes na tupla.

tupla = (1, 2, 3, 4, 5)
print(sum(tupla))

15

In [ ]:
# 8. Dada uma tupla que contém cinco números, crie uma função que retorne o primeiro e o último número dessa tupla. O programa deve imprimir ambos os valores corretamente.

tupla = (1, 2, 3, 4, 5)
print(tupla[0], tupla[-1])

1 5

In [ ]:
# 9. Converta a lista ["a", "b", "c", "d"] em uma tupla e, em seguida, exiba o tipo do novo objeto que foi criado. O programa deve deixar claro que o tipo mudou de lista para tupla.

lista = ["a", "b", "c", "d"]
print("Tipo antes da conversão:", type(lista))
tupla = tuple(lista)
print("Tipo depois da conversão:", type(tupla))

Tipo antes da conversão: <class 'list'>
Tipo depois da conversão: <class 'tuple'>

In [ ]:
# 10. Crie uma tupla com três números inteiros e uma string. Depois, verifique se o número 3 está presente nessa tupla e mostre uma mensagem dizendo se o número foi encontrado ou não.

tupla = (1, 2, 3, "cachorro")
if 3 in tupla:
    print("O número 3 foi encontrado na tupla.")
else:
    print("O número 3 não foi encontrado na tupla.")

O número 3 foi encontrado na tupla.

In [ ]:
# 11. Crie dois sets: set1 = {1, 2, 3, 4} e set2 = {3, 4, 5, 6}. Exiba a união dos dois sets (todos os elementos sem repetição), a interseção (elementos que aparecem nos dois sets) e a diferença (elementos presentes no primeiro set, mas não no segundo). Mostre os resultados de cada operação.

set1 = {1, 2, 3, 4}
set2 = {3, 4, 5, 6}
print(set1.union(set2))
print(set1.intersection(set2))

{1, 2, 3, 4, 5, 6}
{3, 4}

In [ ]:
# 12. Dada a lista [1, 2, 2, 3, 4, 4, 5], remova os elementos duplicados transformando a lista em um set. Ao final, exiba o set resultante, que deve conter apenas valores únicos.

lista = [1, 2, 2, 3, 4, 4, 5]
set_sem_duplicatas = set(lista)
print(set_sem_duplicatas)

{1, 2, 3, 4, 5}

In [ ]:
# 13. Crie um set contendo os valores {5, 10, 15, 20}. Adicione o número 25 a esse set e depois remova o valor 15. Mostre o set após cada alteração.

set1 = {5, 10, 15, 20}
set1.add(25)
set1.remove(15)
print(set1)

{5, 10, 20, 25}

In [ ]:
# 14. Verifique se o número 7 está presente no set {1, 2, 3, 4, 5}. O programa deve exibir uma mensagem informando se o número foi encontrado ou não no set.

set1 = {1, 2, 3, 4, 5}
if 7 in set1:
    print("O número 7 está presente no set.")
else:
    print("O número 7 não está presente no set.")

O número 7 não está presente no set.

In [ ]:
# 15. Crie um set vazio e adicione vários valores a ele usando um laço de repetição (por exemplo, um for ou while). No final, mostre todos os valores armazenados no set.

set1 = set()
for i in range(1, 6):
    set1.add(i)
print(set1)

{1, 2, 3, 4, 5}

In [ ]:
# 16. Crie um dicionário com os pares chave-valor 'nome': 'Ana', 'idade': 22, 'curso': 'Engenharia'. Adicione uma nova chave 'universidade': 'USP' ao dicionário. Em seguida, exiba o dicionário completo com todas as informações.

dicionario = {'Nome': 'Gabriel', 'Idade': 30, 'Curso': 'Engenharia Eletrica'}
dicionario['Universidade'] = 'UVV'
print(dicionario)

{'Nome': 'Gabriel', 'Idade': 30, 'Curso': 'Engenharia Eletrica', 'Universidade': 'UVV'}

In [ ]:
# 17. Escreva um programa que percorra um dicionário com várias chaves e valores. Para cada par, imprima a chave e o valor no formato: Chave: X, Valor: Y. O dicionário pode conter qualquer informação que você preferir.

dicionario = {'Nome': 'Gabriel', 'Idade': 30, 'Curso': 'Engenharia Eletrica'}
for chave, valor in dicionario.items():
    print(f"Chave: {chave}, Valor: {valor}")

Chave: Nome, Valor: Gabriel
Chave: Idade, Valor: 30
Chave: Curso, Valor: Engenharia Eletrica

In [ ]:
# 18. Crie um dicionário que relacione nomes de alunos às suas notas. Depois, crie uma função que calcule e exiba a média das notas desses alunos com base nas informações do dicionário.

notas_alunos = {
    'João': 8.5,
    'Maria': 9.0,
    'Pedro': 7.5,
    'Ana': 9.5
}

media = sum(notas_alunos.values()) / len(notas_alunos)
print(f"A média das notas é: {media: .2f}")

A média das notas é:  8.62

In [ ]:
# 19. Escreva um programa que permita ao usuário buscar o valor de uma chave específica em um dicionário. Caso a chave não exista, o programa deve exibir uma mensagem dizendo que a chave não foi encontrada. Teste o programa com diferentes chaves.

dados = {'nome': 'Gabriel', 'idade': 30, 'curso': 'Engenharia Eletrica'}
chave = input("Digite a chave que deseja buscar: ")
if chave in dados:
    print(f"O valor da chave '{chave}' é: {dados[chave]}")
else:
    print(f"A chave '{chave}' não foi encontrada no dicionário.")

Digite a chave que deseja buscar: 20
A chave '20' não foi encontrada no dicionário.

In [ ]:
# 20. Dado um dicionário que contém produtos e seus respectivos preços, como {'pão': 2.50, 'leite': 3.00, 'café': 4.50}, permita que o usuário altere o preço de um dos produtos e exiba o dicionário atualizado com o novo valor.

dicionario = {'Pão': 2.50, 'Leite': 3.00, 'Café': 4.50}
dicionario['Leite'] = 3.50
print(dicionario)

{'Pão': 2.5, 'Leite': 3.5, 'Café': 4.5}